.fadeIn {
    padding: 50px;
    text-align: justify;
}

.fadeIn .title {
    font-size: 40px;
}

.table1 {
    font-family: sans-serif;
    color: #232323;
    border-collapse: collapse;
    text-align: left;
    margin: 0px auto;
}

.table1,
th,
td {
    border: 1px solid #999;
    padding: 8px 20px;
}
